spring:
  application:
    name: spring-ai-boot
  profiles:
    default: dev

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:mysql://localhost:3306/app?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8
    username: app
    password: app

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate.format_sql: true
      hibernate.jdbc.time_zone: UTC

jwt:
  access-token-exp-min: 60
  refresh-token-exp-days: 7
  hmac-secret-base64: ${JWT_HMAC_SECRET_BASE64:KO3oQ26nRPzx8aP2MgRwRsqb3BNtMeQ44hEMKDSDzKE=}


---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:mysql://db:3306/app?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate

jwt:
  secret: ${JWT_SECRET}
  access-token-exp-min: 60
  refresh-token-exp-days: 7